article{
  .aboutus{
    box-sizing: border-box;
  }
  .img {
      padding: 0;
      div{
        float: right;
        margin: 0;
        overflow: hidden;
        text-align: center;
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
          img{
            width: 135px;
            height: 135px;
      }
    }
  }
  .text{
    padding: 0 15px;
    p{
      text-align: justify;
      line-height: 1.6;
      color: $primary_text_color;
    }
  }
  h2{
    color: $primary_text_color;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 2.0;
    margin: 50px 0;
  }
  .incubator{
    padding: 150px 0;
    box-sizing: border-box;
    background: url("../img/count.png");
    background-position: center;
    position: relative;
    .count-time > div{
      color: $F;
      box-sizing: border-box;
      border-radius: 4px;
      p{
        font-family: 'Poiret One', cursive;
        font-size: 18px;
        font-weight: 700;
        font-style: italic;
        margin-bottom: 40px;
      }
      .time-wrapper{
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 30px 0;
        span{
          font-size: 42px;
          display: inline-block;
          margin: 0 15px;
        }
      }
    }
  }
  .gallery{
    .container-items{
      text-align: center;
      display: block;
      margin: 0 auto;
      .gallery-item{
        position: relative;
        padding: 15px;
        overflow: hidden;
        box-sizing: border-box;
        .gallery-item-img{
          overflow: hidden;
          .blind{
            transition: transform 0.4s ease-in;
            display: block;
          }
            .open-gallery{
              transition: color 0.4s linear;
              color: rgba(255,255,255, 0.5);
              font-size: 48px;
              z-index: 3;
              width: 48px;
              height: 48px;
              border-radius: 50%;
              text-align: center;
              line-height: 30px;
              position: absolute;
              top: 50%;
              left:50%;
              margin: -24px 0 0 -24px;
            }

          border: 3px solid $primary_bgcolor_orange;
          position:relative;
          cursor:pointer;
          padding: 75px 0;
          width: 100%;
          margin: 0;
          box-sizing: border-box;
          background-position: center;
          background-size: cover;
          &:hover > div{
            display: block;
          }
          &:hover .blind{
            transform: translateY(-200px);
          }
          &:hover .open-gallery{
            color: rgba(255,255,255, 1);
          }
        }
        .first{
          background-image: url("../img/gallery01.png");
        }
        .second{
          background-image: url("../img/gallery02.png");
        }
        .third{
          background-image: url("../img/gallery03.png");
        }
        .forthen{
          background-image: url("../img/gallery04.png");
        }
        .five{
          background-image: url("../img/gallery05.png");
        }
        .six{
          background-image: url("../img/gallery06.png");
        }
      }
    }
  }

  .comands {
    div{
      color: $primary_text_color;
      text-align: justify;
      overflow: hidden;
      box-sizing: border-box;
    }
    .row{
      padding: 15px 0;
    }
    .comands-text{
      background-color: $F;
      padding: 10px;
      p{
        padding: 5px 0;
        line-height: 1.2;
        &:first-of-type{
          color: $secondary_color_blue;
          border-bottom: 1px dotted $primary_text_color;
        }
      }
    }
    .comands-img{
      text-align: center;
       img{
         width: 140px;
         border-radius: 50%;
       }
    }
  }
  .fon{
    padding: 75px 0;
    background: url("../img/fon3.png");
    background-size: cover;
    background-position: center;
  }
  .contacts{
    margin-bottom: 30px;
    div{
      box-sizing: border-box;
      text-align: left;
    }
    & > div > div{
      margin: 20px 0 30px;
    }
    input, textarea{
      font-family: 'Roboto', sans-serif;
      color: $primary_text_color;
      box-sizing: border-box;
      border-radius: 5px;
      border: 2px solid rgba($primary_text_color, 0.2);
      margin: 2px 0 8px;
      font-size: 16px;
      outline: none;
      width: 100%;
      resize: none;
    }
    label{
      color: $primary_color_orange;
      font-size: 14px;
      font-weight: 700;
    }
    input{
      padding: 8px 2px;
    }
    button{
      cursor: pointer;
      text-transform: uppercase;
      width: 115px;
      padding: 8px 0;
      margin: 8px 2px;
      color: $primary_color_orange;
      background-color: transparent;
      border: 1px solid;
      float: right;
      box-sizing: border-box;
      &:first-of-type{
        margin: 8px 0 8px 2px;
      }
      &:hover{
        border: 2px solid $primary_color_orange;
        background-color: $primary_bgcolor_orange;
        color: $F;
      }
      &:active{
        border: 2px solid $F;
      }
      &:focus{
        outline: none;
      }
    }
    span{
      float: left;
      width: 16px;
      margin-right: 15px;
      text-align: left;
      color: $primary_color_orange;
      i{
        font-size: 20px;
      }
    }
  }
}
