.back-menu{
  background-color: $blind_bdcolor_grey_opacity;
  z-index: 3;
  box-sizing: border-box;
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 0;
  transition: width 0.75s;
}
.back-menu ul{
  padding: 40px 0 0 20px;
  box-sizing: border-box;
}
.back-menu ul li{
  white-space: nowrap;
  font-size: 14px;
  margin: 0 0 20px;
  list-style-type: none;
}
.back-menu ul li a{
  font-weight: 700;
  text-transform: uppercase;
  color: $F;
}
.back-menu ul li a:hover{
  color: $primary_color_orange;
  border-bottom: 2px solid;
}
.back-menu__open{
  width: 200px;
}
.index-menu{
  background-color: $primary_bgcolor_orange;
  position: absolute;
  font-size: 25px;
  display: block;
  width: 55px;
  height: 55px;
  left: -26px;
  line-height: 56px;
  text-align: center;
  border-radius: 50%;
}
.index-menu i{
  color: $F;
}
.line-menu{
  width: 4px;
  height: 100%;
  background-color: $primary_color_orange;
  position: absolute;
  left: 0;
}